<div class="grid_12 alpha page_header dark round">
  <%= page_heading "About Lost Lookout" %>
  <h1>About Lost Lookout</h1>
</div>

<div class="clear"></div>

<div>
  
  
  <section>
    <%= link_to (image_tag "lost_lookout_founder_nick_malcolm_small.jpg", :alt=>"Lost Lookout founder, Nick Malcolm", :class=>"float_right"), "/images/lost_lookout_founder_nick_malcolm.jpg" %>
    <h3>Who are we?</h3>
    <p>
      At the moment it's "Who am I?". This website was made by me, Nick Malcolm, a third year Computer Science undergrad at Victoria University of Wellington. You can follow me on twitter, <%= link_to "@nickmalcolm", "http://twitter.com/nickmalcolm"%>, or <%= link_to "read my blog", "http://nickmalcolm.tumblr.com/"%>. I currently work at <%= link_to "Southgate Labs", "http://southgatelabs.com"%> creating web apps with Ruby on Rails.
    </p>
  </section>
  
  <section>
    <h3>What do we do?</h3>
    <p>
      Lost Lookout's goal is to get lost things returned, plain and simple. It doesn't need to be a hassle to go from that initial sinking feeling when you lose something to an euphoric "Yay I have it back" state of jubilation. And you should be able to get that sense of satisfaction when you return something just as easily. We help you out by letting you put your lost and found items on a map. It's an understandable and efficient way of helping people get things returned.
    </p>
  </section>
  
  <section>
    <h3>When did we start?</h3>
    <p>
      Lost Lookout launched in early March 2011. You can read more about the story behind Lost Lookout in founder Nick Malcolm's blog post <%= link_to "\"Lost Lookout, my new website\"", "http://nickmalcolm.tumblr.com/post/3929728505/lostlookout"%>
    </p>
  </section>
  
  <section>
    <h3>For the press</h3>
    <p>
      For media enquiries, get a direct line to the founder at <%= link_to "nick@lostlookout.com", "mailto:nick@lostlookout.com"%>.
    </p>
  </section>

</div>