<div class="grid_12 alpha page_header dark round">
  <%= page_heading "Privacy Policy" %>
  <h1>Privacy Policy</h1>
</div>

<script type="text/javascript">
$(document).ready( function(){ 
  $('h3').click(function(){
    $(this).parent().find('p').toggle(200);
  });
});
</script>
<div class="clear"></div>

<section>
  <p>
    <%= link_to "Shrink all answers", "#", :onClick=>"
      $('#qa').find('p').hide(200)" %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to "Show all answers", "#", :onClick=>"
      $('#qa').find('p').show(200)" %>
  </p>
</section>

<div id="qa">
  
  <h2>We're on our best behaviour, promise! Any private data you give us stays with us.</h2>
  
  <section>
    <h3>What information do you collect?</h3>
    <p>
      Lost Lookout doesn't collect anything unless you create an account. And even then it's just basic things like your email address, name, and where you want your homepage map to be centered (if you want).
      Everything apart from the email address is optional too!
    </p>
    <p>
      When you create a Lost or Found listing, any information you put in there is made public. This includes, but isn't limited to, your name, the map location, image, reward, value, and description.
    </p>
    <p>
      We use Google Analytics to track people visiting Lost Lookout each day. This applies to users who aren't logged in as well. <%= link_to "Read more about Google Analytics", "http://code.google.com/apis/analytics/docs/tracking/home.html" %>.
    </p>
    <p>
      If you choose to link to a photo in your listing you'll use the website <%= link_to "http://imgur.com", "http://imgur.com"%>. You should check out their privacy policy too.
    </p>
  </section>
  
  <section>
    <h3>How do you collect the information?</h3>
    <p>
      Lost Lookout only collect what you give us! No sneaky business. When you edit your user settings or create or edit your listings we remember that too. Makes sense! 
    </p>
  </section>
  
  <section>
    <h3>How do you use the information?</h3>
    <p>
      Lost Lookout keeps any private information private. We don't give it to any third parties.
    </p>
    <p>
      When you create listings though, that's public and we allow any web user to view them. We might also promote your public listing using social media like Facebook and Twitter.
    </p>
    <p>
      In all cases, we'll only use your data for the purpose intended: getting your lost and found items reunited!
    </p>
  </section>
  
  <section>
    <h3>What control do users have over their personal data?</h3>
    <p>
      You can edit your personal data at any time. You can also cancel your account. If you're really worried, <%= link_to "give us an email", "mailto:support@lostlookout.com"%> from the email address you use to log in. We'll do our best to satisfy your privacy concerns.
    </p>
  </section>
  
  <section>
    <h3>How do you protect users' information?</h3>
    <p>
      Passwords are encrypted and stored in our database. Other information is kept very secure, but in plain text.
    </p>
    <p>
      Lost Lookout is run from New Zealand and hosted in the United States of America. If either law enforcement agencies legally require us to hand over what little data we have on you, we'll try give you a heads up, but Lost Lookout will most likely have to hand over the data. Sorry!
    </p>
  </section>

  <section>
    <h3>Disclaimer :(</h3>
    <p>
      None of us here at Lost Lookout are lawyers, so this Privacy Policy might not be the best. If you're a lawyer and love this site so much you want to help out, <%= link_to "give us an email", "mailto:support@lostlookout.com"%>!
    </p>
    <p>
      While we do our absolute best to protect your privacy at all costs, we're only human. The staff of Lost Lookout nor Nick Malcolm can be held accountable for any issues arising as a result of privacy breaches through Lost Lookout.
    </p>
  </section>

</div>