<div class="grid_8 prefix_2 suffix_2">
  <%= devise_error_messages! %>
</div>


<div class="grid_7 alpha">
  <div class="grid_7 alpha page_header center dark round">
    <h1>Sign Up</h1>
  </div>
  <%= semantic_form_for(@user, :url => session_path(resource_name)) do |user| %>
    <%= user.inputs do %>
      <%= user.input :email %>
      <%= user.input :password %>
      <%= user.input :password_confirmation, :label =>"Confirm", :required=>true %>
    <% end %>
    <%= user.buttons do %>
      <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
      <%= user.commit_button :label => "Sign up" %>
    <% end %>
  <% end %>
</div>



<div class="grid_5 omega">
  <div class="grid_5 page_header center dark round">
    <h1>Already signed up?</h1>
  </div>
  <p class="gray_text no_pad">
    If you already have an account with Lost Lookout, you can log in
    <%= link_to "over here!", new_user_session_path %>
  </h2>
</div>


<div class="clear"></div>