<div class="grid_8 prefix_2 suffix_2">
  <%= devise_error_messages! %>
</div>

<div class="grid_4 alpha">&nbsp;</div>
<div class="grid_4 page_header dark round">
  <h1>Sign Up</h1>
</div>
<div class="clear"></div>

<div class="prefix_4 grid_4 suffix_4 alpha omega large_input">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    

    <p>
    <%= f.text_field :email, :class => "watermarked_title watermark alpha grid_4", :title => "Email address" %></p>
  
    <p>
    <%= f.password_field :password, :class => "watermarked_title watermark alpha grid_4", :title => "Password" %></p>

    <p>
    <%= f.password_field :password_confirmation, :class => "watermarked_title watermark alpha grid_4", :title => "Confirm Password"  %></p>

    <div class="clear"></div>
    <p><%= f.submit "Sign up" %></p>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>
