<div class="grid_12 alpha omega dark round page_header <%= 'closed' if !@listing.is_open %>">
  <h1><%= @listing.state_title(32) %></h1>
  <p>
    <%= @listing.lost? ? "Belongs to " : "Found by " %>
    <b>
      <% if current_user == @listing.user %>
        you. 
        <% if @listing.is_open %>
          (<%= link_to "Edit", edit_listing_path(@listing) %>)
        <% end %>
      <% else %>
        <%= link_to @listing.user.display_name, profile_path(@listing.user) %>
      <% end %>  
    </b>
  </p>
</div>

<div class="grid_8 alpha <%= 'closed' if !@listing.is_open %>">
  <% if !@listing.is_open %>
    <h2 style="color:#000">This has been reunited with its owner!</h2>
  <% end %>
  <% if @listing.state_title.length > 40 %>
    <h3>
      <%= @listing.state_title %>
    </h3>
  <% end %>
  <p>
    <em>
      Last seen at <%= @listing.last_seen_at.strftime("%l:%M%p on %A %e %b %Y") %>
    </em>
  </p>
 

  <% if @listing.value %>
    <p id="value">
      <b>Value:</b>
      <%= number_to_currency @listing.value %>
    </p>
  <% end %>
  <% if @listing.reward %>
    <p id="reward">
      <b>Reward:</b>
      <%= number_to_currency @listing.reward %>
    </p>
  <% end %>

  <p>
    <%= @listing.description %>
  </p>
  
  <% if current_user == @listing.user %>
    <% if @listing.is_open %>
      <% if @listing.lost %>
        <h3>Found it?</h3>
          <%= form_for close_listing_path, :url => close_listing_path(@listing) do |c| %>
            <p>If you've found this or had it returned to you, <%= c.submit "Mark this as found!", :confirm => "Are you sure? You can't undo this..." %>
          </p>
          <% end %>
      <% else %>
        <h3>Found the owner?</h3>
        <p>
          <%= form_for close_listing_path, :url => close_listing_path(@listing) do |c| %>
            If you've found the owner <%= c.submit "Mark this as returned!", :confirm => "Are you sure? You can't undo this..." %>
          <% end %>
        </p>
      <% end %>
    <% end %>
    
    <h3>Want a Ready Made Poster?</h3>
    <p>
      You have a <%= link_to "Ready Made Poster", listing_poster_path(@listing), :target=>"_blank"%>  waiting for you, ready to be plastered around town!
    </p>
  <% else %>
    <h3>I know something about this!</h3>
    <p>
      <% if @listing.lost %>
        Have you found this, or seen it recently??
      <% else %>
        Is this yours, or do you know to whom this belongs??
      <% end %>
      <% if !current_user %>
        <%= link_to "Log in or Sign Up", new_user_session_path %> to get in contact with <%= @listing.user.display_name %>.
      <% else%>
        <a href="#contact_toggler" id="contact_toggler">Get in contact with <%= @listing.user.display_name %>!</a>
      <% end %>
    </p>
    <% if current_user %>
      <div id="user_contact" class="grid_6 prefix_1 suffix_1 alpha omega">
        <% if current_user.sent_enough_emails? %>
          You've sent enough emails for today sorry. Try again tomorrow!
        <% else %>
          <h4>Send message:</h4>
          <%= form_for email_owner_path, :url => email_owner_path do |f| %>
            <%= f.text_area :message, :name=>"message", :class => "contact_box grid_6 alpha omega" %>
            <p>
            <strong>Important:</strong> We will give <%= @listing.user.display_name %> <strong>your email address</strong> when you send them this message. This is so they can easily reply to you.
              <%= f.submit "Send message", :disable_with => "Sending..."%>
            </p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="grid_4 omega">
  <div class="photo_container grid_4 alpha omega dark round">
    <% if @photo %>
      <%= link_to image_tag(@photo.medium_url, :class=>" photo_preview", :alt => @listing.state_title, :title => @listing.state_title), @photo.raw_url%>
    <% else %>
      <p><em>No Photo!</em></p>
    <% end %>
  </div>
  <div class="grid_4 alpha omega social">
    <h4 class="center">Spread the word:</h4>
    <p>
      <%= tweet_button :count => "horizontal", 
         :text => @listing.twitter_text, :url => listing_url(@listing),
         :via => "lostlookout"%>
      <%= facebook_listing_like %>
    </p>
  </div>
   
   <div class="clear"></div>
</div>

<div class="grid_12 alpha omega">
  <h3>
    <em class="gray_text"><%= @listing.lost? ? "Look out around" : "Found near " %></em> <em><%= @listing.reverse_geocode %></em>
  </h3>
  <div style="display:none"><h2>Map for <%= @listing.title %>:</h2></div>
  <%= raw Cartographer::Header.new.to_s %>
  <%= raw @map.to_html %>
  <div id="map" data-listing-src="/listings" class="grid_12 alpha omega">
    Loading the lost and found map...
  </div>
</div>

<div class="grid_12 gray_text center">
  <p>
    Listing created at <%= @listing.created_at.strftime("%l:%M%p %d/%m/%y") %>, and updated at <%= @listing.updated_at.strftime("%l:%M%p %d/%m/%y") %>
  </p>
  <% if @listing.mobile_lookout_count > 0 %>
    <p>
      <%= pluralize @listing.mobile_lookout_count, "mobile device has", "mobile devices have" %> been looking out near here.
    </p>
  <% end %>
</div>