<div class="grid_12 alpha page_header dark round">
  <h1><%= @topic.title %></h1>
  <p>
    Posted by <strong><%= @topic.user.display_name %></strong> <%= time_ago_in_words(@topic.created_at) %> ago.
  </p>
</div>
<div class="clear"></div>

<div class="grid_12 alpha omega post first_post">
  <p class="grid_1 alpha name">
    <%= @topic.user.display_name %>
  </p>
  <% @topic.posts.each do |p| %>
    <p class="grid_10 omega">
      <%= p.content %>
    </p>
  <% end %>
</div>

<% semantic_form_for [@forum, @topic] do |form| %>
  <%= form.inputs :content, :for => :posts %>
<% end %>


<%= link_to 'Back', forum_path(@topic.forum) %>
