<div class="full_green">
  <div class="container_12">
    
    <div class="map_container">
      <%= raw Cartographer::Header.new.to_s %>
      <%= raw @map.to_html %>
      <div id="map" data-listing-src="/listings" class="grid_12 front_page omega round">
        <p>Loading lost and found map...</p>
      </div>
    
      <div id="toggler" title="Expand the map">
        <div class="clicker round_12">
          <p class="symbol">&gt;</p>
        </div>
      </div>
      <div id="sidebar" class="right_curve">
        <div id="side_content">
          <% if @sidebar && @sidebar.any? %>
            <table class="listings">
              <tbody>
                <tr class="center gray_text">
                  <td>
                    <h3 style="display:inline">Latest listings</h3>
                    <%= link_to "(browse all)", listings_path, :title=>"Browse all lost and found" %>
                  </td>
                </tr>
              <% @sidebar.each_with_index do |listing, i| %>
                <% if i.even? %>
                  <tr class="listing">
                <% else%>
                  <tr class="listing odd">
                <% end %>
                    <td class="listing">
                      <table>
                        <tr>
                          <td class="title">
                            <%= link_to listing.state_title(20), listing_path(listing) %>
                          </td>
                          <td rowspan="2">
                            <% if listing.external_photos.any? %>
                            <%= link_to image_tag(listing.external_photos.first.small_url), listing_path(listing) %>
                            <% end %>
                          </td>
                        </tr>
                        <tr>
                          <td>
                          <% if !listing.reward.nil? %>
                            Reward: <%= number_to_currency listing.reward %><br />
                          <% end %>
                            <%= "#{listing.lost_to_s} #{time_ago_in_words(listing.last_seen_at)} ago" %><br />
                            <%= link_to "Zoom map to this", "#", :onClick => "zoomInOn(#{listing.latitude.to_f}, #{listing.longitude.to_f});" %>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          <% else %>
            <h4>There isn't any lost or found items on the map!</h4>
            <p>
               Why don't you be lucky number one, and <%= link_to "put something on the map!", new_listing_path %>
            </p>
          <% end %>
        </div>
      </div>
      
      <div class="clear"></div>
    </div>  
      
  </div>
  <div class="clear"></div>
</div>

<div class="container_12 home_middle dark">
  <div class="grid_12 round">
    <div class="grid_2 alpha">
      <p class="intro light_gray_text" >
        What's the deal?
      </p>
    </div>
  
    <div class="grid_3">
      <h3 class="grid_3">1.&nbsp;&nbsp;Losing stuff</h3>
      <p>
        <img src="/images/sad_face.png" alt="Sad Face" />
        Put your lost item on the map. Tell your mates, tell the world. Get people to look out for it.
      </p>
    </div>
  
    <div class="grid_3">
      <h3 class="grid_3">2. Looking Out</h3>
      <img src="/images/search.png" alt="Magnifying glass." />
      <p>
        Walking around town, to work, wherever. Keep an eye out, find lost stuff near you.
      </p>
    </div>
  
    <div class="grid_3 omega">
      <h3 class="grid_3">3. Finding stuff</h3>
      <img src="/images/happy_face.png" alt="Happy Face" />
      <p>
        Find a lost item and put it on the map. Tell your friends. Two degrees of separation later, it's reunited. Sweet as!
      </p>
    </div>
    
    <div class="grid_12 alpha omega sticker bottom_shadow" style="background: none">
      <h3 class="top_curve"><%= link_to "Put something on the map...", new_listing_path %></h3>
    </div>

  </div>
</div>

<div class="clear"></div>
<div class="container_12 home_bottom">
  
  <div class="grid_6" id="force_left">
    <div class="grid_6 alpha omega">
      <h2>Why use Lost Lookout?</h2>
      <p>
        Lost Lookout is a map based lost and found website. Simple huh? It makes a lot of difference! Putting your lost and found items on the Lost Lookout map means lets people know you've lost or found something near them. 
      </p><p>&nbsp;</p>
      <p>
        When you lose something, what do you do? Put it on the Lost Lookout map. Use the free posters, too.
        People walking around that area will be more likely to keep an eye out for it, and you'll get it back sooner!
      </p><p>&nbsp;</p>
      <p>
        When someone finds something, where do they go? Who do they tell? Lost Lookout is the new way to report things you've found, making it easier to return items. Don't stand there on the street looking sheepish when you find something. <%= link_to "Put it on the Lost Lookout map!", new_listing_path %>
      </p>
    </div>
  
    <div class="grid_6 alpha omega">
      <h2>Lost Lookout - behind the scenes</h2>
      <p>
        Founder Nick Malcolm talks about <%= link_to "the story behind Lost Lookout", "http://nickmalcolm.tumblr.com/post/3929728505/lostlookout" %>.
      </p>
    </div>
  </div>
  
  <div class="grid_6">
    <h2>Ready made posters!</h2>
    <%= image_tag 'poster_small.png', :title=>"Your poster will look like this!", :class=>"poster_ss"%>
    <p>
      Maximise exposure on your listing by printing out Lost Lookout's ready made posters. Simply <%= link_to "create a listing", new_listing_path %> and you'll be able to get a poster version, complete with photo, map and contact tear-offs, ready to print and post around your neighbourhood.
    </p>
  </div>
  
  <div class="grid_6">
    <h2>Tell us your Lost Lookout story!</h2>
    <p>
      Did Lost Lookout reunite you with a loved and lost possession?<br />
      Were you able to return something, and loved basking in warm fuzzies?<br />Tell us about it! Send us an email at <%= link_to "story@lostlookout.com", "mailto:story@lostlookout.com" %>.</p>
  </div>
  
  <div class="grid_6">
    <%= facebook_home_like %>
  </div>

  <div class="clear"></div>
</div>