
<div class="grid_7 alpha">
  <div class="grid_7 alpha page_header center dark round">
    <h1>Log In</h1>
  </div>
  <%= semantic_form_for(@user, :url => session_path(resource_name)) do |user| %>
    <%= user.inputs :email, :password %>
    <%= user.buttons do %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %>
      <%= user.commit_button :label => "Log In", :input_html=>{:class=>"button"} %>
    <% end %>
  <% end %>
</div>



<div class="grid_5 omega">
  <div class="grid_5 page_header center dark round">
    <h1>Not signed up?</h1>
  </div>
  <p class="gray_text">
    Signing up to Lost Lookout is <strong>free and easy!</strong>
    and lets you:
  </p>
  <ol class="gray_text">
    <li>Put your own lost and found items on the map</li>
    <li>Set a default location on your homepage</li>
    <li>Contact other users</li>
    ...and more!
  </ol>
  <h2 class="button">
    <%= link_to "Sign up!", new_user_registration_path, :class=>"dark round button" %>
  </h2>
</div>


<div class="clear"></div>

