<p>Hello <%= @resource.display_name %>!</p>

<%= render :partial => "security_notice" %>

<p>There has been a request to change the password for <%= @resource.email %> at Lost Lookout. If you requested this, you can do change it by clicking the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<%= render :partial => "signature" %>