<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8"/>
		<title><%= page_title %></title>
	
    <%= include_stylesheets :common, :media => 'all' %>
    <%= include_javascripts :top %>
    
    <meta name="keywords" content="<%= page_meta_tags %>" />
    <meta name="description" content="<%= page_meta_descr %>" />
    <meta name="author" content="Nick Malcolm" />
    
    <meta name="google-site-verification" content="PaWRhi-XbE7q_qhgtXaAZE39BV2KFFuc3L4QsupaLHw" />
    
    <meta property="fb:page_id" content="196459227043474" />
    <meta property="og:title" content="Lost Lookout" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://lostlookout.com" />
    <meta property="og:image" content="http://lostlookout.com/images/green_logo.png" />
    <meta property="og:site_name" content="Lost Lookout" />
    <meta property="fb:admins" content="689651850" />
    
    <%= auto_discovery_link_tag :atom, "/feed.atom" %>
    
    <%= hoptoad_javascript_notifier %>
    
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>

	<body style="height: 100%">
	<%= image_tag "lost_lookout_on_white_logo.png", :class=>"hidden", :alt=>"Lost Lookout logo" %>
    <div class="container_12 header">
			
      <div class="grid_3">
        <%= link_to image_tag("lost_lookout_map_logo.png", :alt=>"Lost Lookout - map based lost and found", :title=>"Lost Lookout - map based lost and found"), root_path %>
      </div>
        <div class="grid_9">
          <div class="grid_9 alpha omega nav right">
            <ul>
      	  <% if user_signed_in? %>
              <li class="dark round" id="dropdown_toggler">
                <a href="#">My Lookout &#9660;</a>
              </li>
          <% else %>
              <li class="dark round tooltip" title="Log in or Sign Up!">
                <%= link_to "Log In", new_user_session_path %> 
              </li>
          <% end %>
              <li class="dark round tooltip" title="More lost and found!">
                <%= link_to "Browse", listings_path %>
              </li>
              <li class="dark round tooltip" title="Get help!">
                <%= link_to "Help", help_path %>
              </li>
            </ul>
          </div>
        <% if current_user %>
        <div class="prefix_5 grid_3 alpha omega" id="dd_cont">
          <div class="grid_3 dropdown alpha omega right_curve bottom_curve">
            <ul>
              <li>
                Hey <%= current_user.display_name %>!
              </li>
              <li>
                <%= link_to "New Listing", new_listing_path %>
              </li>
              <li>
                <%= link_to "My Listings", dashboard_path %>
              </li>
              <li>
                <%= link_to "Edit My Account", edit_user_registration_path(current_user) %>
              </li>
              <li>
                <%= link_to "Logout", destroy_user_session_path %>
              </li>
            </ul>
          </div>
        </div>
        <% end %>
      </div>
      <div class="clear"></div>
      
    </div>
    
    <div class="container_12 search">
        <%= form_tag search_listings_path, :method => :get, :class=>"grid_6" do %>
          <p>
            <%= text_field_tag :search, params[:search], :title=>"Search by keyword and/or location", :id=>"search", :class=>"watermarked_title watermark round grid_5 alpha", :type => "search", :size=>"large" %>
            <%= submit_tag "Search", :name => nil, :class=>"button grid_1 alpha omega" %>
          </p>
        <% end %>
      <h2 class="grid_6 tagline right">
        Finding lost stuff near you
      </h2>
        <div class="clear"></div>
    </div>
  
    <% if !is_home %>
      <%= render :partial => "/layouts/errors" %>
      <div class="container_12 content top_margin">  
        <div class="grid_12">
          <%= yield %>
        </div>
        <div class="clear"></div>
      </div>
    <% else %>  
      <% if flash.any? %>
        <div class="full_green">
          <%= render :partial => "/layouts/errors" %>
        </div>
      <% end %>
      <%= yield %>
    <% end %>
	  
	  <div class="clear"></div>
	
  	<div class="container_12">
  	  <div class="grid_12 dark footer top_curve">
  	    <p>
  	      <%= link_to "Terms & Conditions", terms_path %>&nbsp;&nbsp;&nbsp;
  	      <%= link_to "Privacy Policy", privacy_path %>&nbsp;&nbsp;&nbsp;
  	      <%= link_to "Help", help_path %>&nbsp;&nbsp;&nbsp;
  	      <%= link_to "About", about_path %>&nbsp;&nbsp;&nbsp;
  	      &copy; Nick Malcolm 2011
  	      <% if request.domain.to_s.eql? "lostlookout.co.nz" %>
  	        &nbsp;|&nbsp;Lost Lookout New Zealand
  	      <% end %>
  	    </p>
  	  </div>
  	</div>
  	
  	<script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-15815982-5']);
      _gaq.push(['_setDomainName', '.lostlookout.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <%= javascript_includes %>
  </body>
</html>

